<h1>Games</h1>

<h2>Your Games</h2>
<% unless @owned_games.empty? %>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="2"></th>
      </tr>
    </thead>


    <tbody>
      <% @owned_games.each do |game| %>
      <tr>
        <td><%= link_to game.name, game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<br>

<%= button_to 'Create A New Murder Mystery', new_game_path, class: "btn btn-primary" %>

<% unless @played_games.empty? %>
<h2>Games You're Playing</h2>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Character</th>
        <th colspan="2"></th>
      </tr>
    </thead>


    <tbody>
      <% @played_games_and_characters.each do |game, character| %>
      <tr>
        <td><%= link_to game.name, game %></td>
        <td><%= link_to character.name, character unless character.nil? %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
