<h1>Games</h1>

<h2>Your Games</h2>
<% unless @owned_games.empty? %>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="3"></th>
      </tr>
    </thead>


    <tbody>
      <% @owned_games.each do |game| %>
      <tr>
        <td><%= game.name %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<br>

<%= link_to 'New Game', new_game_path %>

<h2>Games You're Playing</h2>
<% unless @owned_games.empty? %>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Character</th>
        <th colspan="3"></th>
      </tr>
    </thead>


    <tbody>
      <% @played_games_and_characters.each do |game, character| %>
      <tr>
        <td><%= game.name %></td>
        <td><%= character unless character.nil? %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
