<div class="game-id" style="display:none;">
  <%= @game.id %>
</div>
<% if current_user == @game.owner %>
  <h1>
    <i class="fa fa-pencil" style="font-size:14px;"></i>
    <%= best_in_place @game, :name, as: :input, place_holder: "Untitled Game", id: "game_name_#{@game.id}", class: "hoverable" %>
  </h1>
  <p>
    <i class="fa fa-pencil" style="font-size:14px;"></i>
    <strong>General Information:</strong>
  </p>
  <%= best_in_place @game, :description, as: :textarea, display_with: :simple_format, place_holder: "Background information goes here", class: "hoverable", :html_attrs => { :cols => '60', :rows => '20' }%>

  <h2>Characters</h2>
  <% unless @characters.empty? %>

    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Player</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @characters.each do |character| %>
        <tr>
          <td>
            <%= link_to character.name, game_character_path(@game, character) %>
          </td>
          <td>
            <% if character.user %>
              <%= character.user.display_name %>
            <% elsif character.invited_user %>
              <%= character.invited_user.email %> <em>(not confirmed)</em>
            <% end %>
          </td>
          <td>
            <%= link_to 'Delete', game_character_path(@game, character), method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <%= render 'characters/form' %>

  <h2>Abilities</h2>

  <% if @has_abilities %>
    <table class="table">
      <thead>
        <tr>
          <th>Ability</th>
          <th>Count</th>
        </tr>
      </thead>

      <tbody>
        <% @ability_counts.each do |ability, count| %>
        <tr>
          <td>
            <span class="ability"><%= ability.name %></span>
          </td>
          <td>
            <%= count %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No characters in this game have abilities yet.</p>
  <% end %>

<% else %>
  <h1><%= @game.name %></h1>
  <strong>Game Master:</strong>
  <%= @game.owner.display_name %>
  <br>
  <br>
  <strong>General Information</strong>:
  <% unless @game.description.nil? %>
    <%= simple_format(@game.description) %>
  <% end %>

  <h2>Characters</h2>
  <% unless @characters.empty? %>

    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Player</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @characters.each do |character| %>
        <tr>
          <td>
            <% if character.user == current_user %>
              <%= link_to character.name, game_character_path(@game, character) %>
            <% else %>
              <%= character.name %>
            <% end %>
          </td>
          <td>
            <% if character.user %>
              <%= character.user.display_name %>
            <% elsif character.invited_user %>
              <%= character.invited_user.email %> <em>(not confirmed)</em>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>

<span id="unassigned-players">
  <% unless @users_without_characters.empty? && @invited_users_without_characters.empty? %>
    <h2>Players without assigned characters</h2>

    <table class="table" id="unassigned-player-table">
      <thead>
        <tr>
          <th>Player</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @users_without_characters.each do |user| %>
          <tr>
            <td><%= user.display_name %></td>
          </tr>
        <% end %>
        <% @invited_users_without_characters.each do |invited_user| %>
        <tr>
          <td><%= invited_user.email %> <em>(not confirmed)</em></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</span>

<% if current_user == @game.owner %>
  <h3>Invite new player</h3>
  <p>
    Email:
    <input type="text" id="email">
    <button type="button" class="btn-default invite">Invite</button>
  </p>
<% end %>

<%= link_to games_path do %>
  <i class="fa fa-arrow-left" style="font-size:14px;"></i>
  Back to all games
<% end %>

<script>
  $('.best_in_place').bind('ajax:success', function() {
    this.innerHTML = this.innerHTML.replace(/\n/g, '<br />');
  });

  $(document).on('click', '.invite', function() {
    var email = $('#email').val();
    var gameId = $('.game-id').text();
    $.ajax({
      url: '/games/' + gameId + '/invite_user',
      type: 'post',
      data: {
        email: email
      },
      success: function(json) {
        if (json.failure_message) {
          alert(json.failure_message);
        } else {
          if ($('#unassigned-players-table').length === 0) {
            $('#unassigned-players').html('<h2>Players without assigned characters</h2><table class="table" id="unassigned-player-table"><thead><tr><th>Player</th><th></th></tr></thead><tbody></tbody></table>');
          }
          $('#unassigned-player-table tr:last').after('<tr><td>' +
                                                      json.invited_user_email +
                                                      '</td></tr> ' +
                                                      '<em>(not confirmed)</em>');
        }
      }
    });
  });
</script>
