<%= form_for(@character, url: game_characters_path(@game.id)) do |f| %>
  <% if @character.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@character.errors.count, "error") %> prohibited this character from being saved:</h2>

      <ul>
      <% @character.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3>Create new character</h3>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :player_email, "Player email (can be assigned later)" %><br>
    <%= f.text_field :player_email %>
  </div>
  <div class="actions">
    <%= f.submit "Create Character", class: "btn btn-primary" %>
  </div>
<% end %>
