<p>
  <strong>Character Name:</strong>
  <%= @character.name %>
</p>

<p>
  <strong>Game:</strong>
  <%= @character.game.name %>
</p>

<p>
  <strong>Player:</strong>
  <%= @character.user.email unless @character.user.nil? %>
</p>

<p>
  <strong>Background Information:</strong>
  <%= @character.character_sheet %>
</p>


<% if @character.game.owner == current_user %>
	<%= link_to 'Edit', edit_game_character_path(@character.game_id, @character.id) %> 
<% end %>
<%= link_to 'Back to %s' % [@character.game.name], game_path(@character.game_id) %>
