<div class="game-id" style="display:none;">
  <%= @character.game.id %>
</div>
<div class="character-id" style="display:none;">
  <%= @character.id %>
</div>

<% if current_user == @character.game.owner %>
  <h1>
    <i class="fa fa-pencil" style="font-size:14px;"></i>
    <%= best_in_place @character, :name, as: :input, place_holder: "Unnamed Character", id: "character_name_#{@character.id}", class: "hoverable", url: game_character_path %>
  </h1>

  <p>
    <strong>Player:</strong>
    <span id="player-name">
      <% if @character.user %>
        <%= @character.player.display_name %>
      <% elsif @invited_user %>
        <%= @invited_user.email %>
      <% else %>
        No player assigned
      <% end %>
    </span>
  </p>

  <p>
    <i class="fa fa-pencil" style="font-size:14px;"></i>
    <strong>Character Information:</strong>
  </p>
  <%= best_in_place @character, :character_sheet, as: :textarea, display_with: :simple_format, place_holder: "Character information goes here", class: "hoverable", :html_attrs => { :cols => '60', :rows => '20' }, url: game_character_path %>

  <p>
    <i class="fa fa-pencil" style="font-size:14px;"></i>
    <strong>Abilities:</strong>
    <div class="abilities-list">
      <% @character_abilities.each do |character_ability| %>
        <span class="ability" data-character-ability-id="<%= character_ability.id %>">
          <span class="delete-ability">✖</span>
          <%= character_ability.ability.name %>
        </span>
      <% end %>
      <select class="ability-select">
        <option value="" selected="selected"></option>
        <% @all_abilities.each do |ability| %>
          <option value="<%= ability.name %>" data-ability-id="<%= ability.id %>"><%= ability.name %></option>
        <% end %>
      </select>
    </div>
  </p>

  <input name="player-assign" type="radio" value="new">Invite New Player
  <br>
  <input name="player-assign" type="radio" value="existing">Assign to Existing Player

  <div class="js-dependent-fields" data-radio-name="player-assign" data-radio-value="new">
    Email:
    <input type="text" id="email">
    <button type="button" class="btn-default invite">Invite</button>
  </div>

  <div class="js-dependent-fields" data-radio-name="player-assign" data-radio-value="existing">
    Players without characters:
    <select class="player-select">
      <option value="" selected="selected"></option>
    </select>
    <button type="button" class="btn-default assign">Assign</button>
  </div>

<% else %>
  <h1><%= @character.name %></h1>

  <p>
    <strong>Game:</strong>
    <%= link_to @character.game.name, @character.game %>
  </p>

  <p>
    <strong>Player:</strong>
    <%= @character.user.display_name unless @character.user.nil? %>
  </p>

  <p>
    <strong>Character Information:</strong>
    <%= simple_format(@character.character_sheet) %>
  </p>

  <p>
    <strong>Abilities:</strong>
    <div class="abilities-list">
      <% @character_abilities.each do |character_ability| %>
        <span class="ability" data-character-ability-id="<%= character_ability.id %>">
          <%= character_ability.ability.name %>
        </span>
      <% end %>
    </div>
  </p>
<% end %>

<p>
  <%= link_to game_path(@character.game.slug) do %>
    <i class="fa fa-arrow-left" style="font-size:14px;"></i>
    <%= 'Back to %s' % [@character.game.name] %>
  <% end %>
</p>

<script>
  $('.best_in_place').bind('ajax:success', function() {
    this.innerHTML = this.innerHTML.replace(/\n/g, '<br />');
  });

  $('.ability-select').change(function() {
    var characterId = parseInt($('.character-id').text());
    var abilityId = parseInt($('.ability-select option:selected').data('ability-id'));
    $.ajax({
      url: '/abilities/add',
      type: 'post',
      data: {
        character_id: characterId,
        ability_id: abilityId
      },
      success: function(json) {
        $('<span class="ability" data-character-ability-id="' + json.character_ability_id + '"><span class="delete-ability">✖</span>' + $('.ability-select option:selected').text() + '</span>').insertBefore($('.ability-select'));
        $(this).prop('selectedIndex', 0);
      }.bind(this)
    });

  });

  $(document).on('click', '.delete-ability', function() {
    var characterAbilityId = $(this).parent('.ability').data('character-ability-id');
    $.ajax({
      url: '/abilities/' + characterAbilityId,
      type: 'delete',
      success: function() {
        $(this).parent('.ability').remove();
      }.bind(this)
    });
  });

  $(document).on('click', '.invite', function() {
    var email = $('#email').val();
    var gameId = $('.game-id').text();
    var characterId = $('.character-id').text();
    $.ajax({
      url: '/games/' + gameId + '/characters/' + characterId + '/invite_user',
      type: 'post',
      data: {
        email: email
      },
      success: function(json) {
        debugger;
        $('#player-name').text(json.invited_user_email);
      }
    });
  });

  $(document).on('click', '.assign', function() {
    var playerId = $('.player-select option:selected').data('player-id');
    $.ajax({
      url: 'add later',
      type: 'post',
      data: {
        playerId: playerId
      },
      success: function(json) {
        $('#player-name').text(json.display_name);
        $('.player-select').prop('selectedIndex', 0);
      }
    });
  });
</script>
