<% if current_user == @character.game.owner %>
  <h1>
    <i class="fa fa-pencil" style="font-size:14px;"></i>
    <%= best_in_place @character, :name, as: :input, place_holder: "Unnamed Character", id: "character_name_#{@character.id}", class: "hoverable", url: game_character_path %>
  </h1>

  <p>
    <i class="fa fa-pencil" style="font-size:14px;"></i>
    <strong>Player:</strong>
    <%= best_in_place @character, :player_email, as: :input, display_as: :display_player_email, place_holder: "No Player Assigned", class: "hoverable", url: game_character_path %>
  </p>

  <p>
    <i class="fa fa-pencil" style="font-size:14px;"></i>
    <strong>Character Information:</strong>
  </p>
  <%= best_in_place @character, :character_sheet, as: :textarea, display_with: :simple_format, place_holder: "Character information goes here", class: "hoverable", :html_attrs => { :cols => '60', :rows => '20' }, url: game_character_path %>

  <p>
    <i class="fa fa-pencil" style="font-size:14px;"></i>
    <strong>Abilities:</strong>
    <div class="abilities-list">
      <select class="ability-select">
        <option value="" selected="selected"></option>
        <option value="Private Kill">Private Kill</option>
        <option value="Public Kill">Public Kill</option>
        <option value="Steal">Steal</option>
        <option value="Coerce">Coerce</option>
        <option value="Save">Save</option>
      </select>
    </div>
  </p>

<% else %>
  <h1><%= @character.name %></h1>

  <p>
    <strong>Game:</strong>
    <%= link_to @character.game, @character.game.name %>
  </p>

  <p>
    <strong>Player:</strong>
    <%= @character.user.display_name unless @character.user.nil? %>
  </p>

  <p>
    <strong>Character Information:</strong>
    <%= @character.character_sheet %>
  </p>

  <p>
    <strong>Abilities:</strong>
    <p>FILL IN LATER</p>
  </p>
<% end %>

<p>
  <%= link_to 'Back to %s' % [@character.game.name], game_path(@character.game_id) %>
</p>

<script>
  $('.best_in_place').bind('ajax:success', function() {
    this.innerHTML = this.innerHTML.replace(/\n/g, '<br />');
  });

  $('.ability-select').change(function() {
    $('<span class="ability"><span class="delete-ability">✖</span>' + $('.ability-select option:selected').text() + '</span>').insertBefore($('.ability-select'));
    $(this).prop('selectedIndex', 0);
  });

  $(document).on('click', '.delete-ability', function() {
    $(this).parent('.ability').remove();
  });
</script>
